@using SkillsTest.Web.Infrastructure
@model SkillsTest.Web.ViewModels.Account.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
}
@section TitleSection{
    <div id="page-title">
        <h1 class="page-header text-overflow">Account</h1>
    </div>
}
@section BreadcrumbSection{
    <ol class="breadcrumb">
        <li><a href="~/">Home</a></li>
        <li><a href="#">Account</a></li>
        <li class="active">Change Pasword</li>
    </ol>
}
@section StyleSection{}
@section ScriptSection{}
<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Change Password Form</h3>
            </div>
            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal form-padding", role = "form" }))
            {
                <div class="panel-body">
                    @Html.AntiForgeryToken()
                    @Html.AbcideeValidationSummary()
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="Ticket_Title">Old Password</label>
                        <div class="col-md-9">
                            @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control", placeholder = "Enter old password" })
                            @Html.AbcideeValidation("OldPassword")
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="Ticket_Title">New Password</label>
                        <div class="col-md-9">
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Enter new password" })
                            @Html.AbcideeValidation("Password")
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="Ticket_Title">Confirm Password</label>
                        <div class="col-md-9">
                            @Html.PasswordFor(model => model.PasswordConfirmation, new { @class = "form-control", placeholder = "Confirm password" })
                            @Html.AbcideeValidation("PasswordConfirmation")
                        </div>
                    </div>
                </div>

                <div class="panel-footer text-right">
                    <a class="btn btn-warning" href="~/tickets">Cancel</a>
                    <button class="btn btn-success" type="submit">Submit</button>
                </div>
            }
        </div>
    </div>
</div>